body,
a,
div,
img {
  border: 0;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:link,
a:active {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

html {
  font-family: "Lato", sans-serif;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* --------------------------------------------------------------- */

.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 60vh;
  width: 100vw;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.Logo {
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  margin-left: 1rem;
  margin-top: 1rem;
  background-image: url("../img/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Info {
  color: #fff;
  display: none;
  margin: 2rem;
  padding: 1rem;
  min-width: 80vw;
}

.Info a {
  text-decoration: underline;
}

.Info.visible {
  display: block;
}

.InfoDate {
  font-weight: bold;
  line-height: 2rem;
  font-size: 1.3em;
  text-transform: uppercase;
}

.InfoDetails {
  font-weight: bold;
  text-shadow: 1px 1px #666;
}

.InfoDetails > a {
  font-weight: normal;
  font-style: italic;
}

/* --------------------------------------------------------------- */

.Menu {
  overflow: hidden;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.NavItem {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  line-height: 2rem;
  text-align: center;
  flex-grow: 1;
}

.NavItemTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30vh;
}

.NavItemImg {
  height: 30vh;
  width: 30vh;
}

.NavItemBottom {
  border-top: 1vh solid #4b4a4b;
  font-size: 20px;
  height: 8vh;
  line-height: 8vh;
}

.NavItem.disabled .NavItemImg {
  opacity: 0.3;
}

.NavItem.disabled .NavItemText {
  opacity: 0.3;
}

/* --------------------------------------------------------------- */

.Contacts {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  line-height: 2rem;
  text-align: center;
}

.Contacts a {
  color: #4b4a4b;
}

.Contacts a:hover {
  color: rgb(237, 116, 130) !important;
}

.ContactsTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30vh;
}

.ContactsBottom {
  border-top: 1vh solid #4b4a4b;
  height: 8vh;
  line-height: 8vh;
}

.SocialLinks {
  font-size: 1.2em;
}

.SocialLinks > * {
  margin-left: 0.5rem;
}

.SocialLinks > *:first-child {
  margin-left: 0;
}

#MailIcon {
  display: none;
}

/* --------------------------------------------------------------- */

#Info1 {
  background-color: rgb(3, 89, 115, 0.7);
}

#NavItem1 {
  color: rgb(3, 89, 115);
}

#Info2 {
  background-color: rgb(237, 116, 130, 0.7);
}

#NavItem2 {
  color: rgb(237, 116, 130);
}

#Info3 {
  background-color: rgb(108, 92, 122, 0.7);
}

#NavItem3 {
  color: rgb(108, 92, 122);
}

/* --------------------------------------------------------------- */

@media (max-width: 800px) {
  .Main {
    height: 60vh;
  }

  .Menu {
    height: 30vh;
    flex-direction: column;
  }

  .Nav {
    height: 30vh;
    justify-content: space-between;
  }

  .NavItemTop img {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    max-height: 120px;
    max-width: 120px;
  }

  .NavItemBottom {
    font-size: 20px;
  }

  .Contacts {
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 2rem;
    text-align: center;
  }

  .ContactsTop {
    display: none;
  }

  .ContactsBottom {
    border-top: 0;
    line-height: 5vh;
  }

  .ContactsBottom i {
    color: #fff;
  }

  #MailIcon {
    display: inline;
  }
}
